/LOCF.csv
/SNAIVE.csv
/MEAN.csv
/TIMESFM.csv
/LOCF.parquet
/SNAIVE.parquet
/MEAN.parquet
/TIMESFM.parquet
/LR-dev.parquet
/LR-dev-live-proto.parquet
/LR-dev-live-proto-test.parquet
/nowcasting_temp-1.2.parquet
/nowcasting_temp-1.2-test.parquet
/nowcasting_temp-1.0.parquet
/nowcasting_temp-1.0-test.parquet
/LOCF-test.parquet
/SNAIVE-test.parquet
/MEAN-test.parquet
