# ignore everything for a start
*

# allow neccessary files and directories
!/src
!/pyproject.toml
!/uv.lock
# general and imputation sections are needed from the params file at the moment.
# TODO need to bundle the required config params with the model instead of
#  just copying it into the container at the time the container is built.
#  they must/should match otherwise the model will not work or might produce wrong results.
!/params.yaml

# ignore unnecessary files inside allowed directories, must be after allow statements
**/*~
**/*.log
**/.DS_Store
**/Thumbs.db
**/.pytest_cache
**/__pycache__
**/*.pyc

# these should already be ignored, this is just double wrapping from before
.venv
.git
.dvc
.github
.idea
.ruff_cache
.ipynb_checkpoints
.jupyter_ystore.db

mlruns
mlartifacts
tensorboard

notebooks
scripts
data
docs
dev_config.yaml
