/LOCF.pkl
/SNAIVE.pkl
/MEAN.pkl
/TIMESFM.pkl
/ARIMA_simple.pkl
/ARIMA_time.pkl
/ARIMA_time-tt_fc.pkl
/ARIMA_tt_fc.pkl
/LR-dev.pkl
/LOCF-test.pkl
/MEAN-test.pkl
/SNAIVE-test.pkl
/nowcasting_temp-1.0-test.pkl
/nowcasting_temp-1.2.pkl
/nowcasting_temp-1.2-test.pkl
/nowcasting_temp-1.0.pkl
